main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContent {
    display: flex;
    gap: 2rem;

}

.top {
    margin-bottom: 2em;

}

.mainContent>section {
    padding: 2em;
    border-radius: 1em;
    background-color: #f0e68b;
}

p {
    max-width: 600px;

}
