body {
    background-color: #dcdacd;
}




/* HISTORY */

.history {
    width: 70%;
    display: block;
    margin: auto;
    padding-bottom: 10%;
    padding-top: 10%;
}

.history p {
    background-color: white;
    padding: 2%;
    border-radius: 10px;
}

.history h2 {
    font-size: 20pt;
}



/* GUIDES */

.guides {
    width: 80%;
    display: block;
    margin: auto;
    padding-bottom: 10%;
}



/* GUIDE CARDS */




.guide-cards {
    display: flex;
    justify-content: space-evenly;

}

.guide-cards article {
    background-color: white;
    margin: 1vw;
    text-align: center;
    border-radius: 10px;
}

.guide-cards article img {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 10%;
}

.guide-cards article span {
    font-weight: bold;
}





