body {
    background-color: #dcdacd;
}

header {
  position: relative; /* makes header a positioning context */
  display: inline-block; /* so it wraps image size if you want */
}

header img {
  display: block;
  width: 100%;   /* optional, ensures it scales with container */
  height: auto;
}

header h1 {
  position: absolute;   /* take it out of normal flow */
  top: 90%;             /* position vertically */
  left: 50%;            /* position horizontally */
  transform: translate(-50%, -50%); /* center it */
  color: white;         /* readable over image */
  font-size: 2rem;
  text-align: center;
  background: rgba(0,0,0,0.5); /* semi-transparent background */
  padding: 10px 20px;
  border-radius: 8px;
}



nav {
    width: 100%;
    height: 90px;
    background-color: white;
    border-top: 10px solid #878976;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    top: 20;
}



nav a {
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4.5vw;
    text-transform: uppercase;
    text-decoration: none;
    color: #503328;
}

nav a:hover {
    color: #878976;
}






.guides {
    display: flex;

}

article img {
    width: 80%;
}