/* ROOT & BODY */

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #dcdacd;
}



/* HEADER STYLING */

header {
  position: relative; /* makes header a positioning context */
  display: inline-block; /* so it wraps image size if you want */
}

header img {
  display: block;
  width: 100%;   /* optional, ensures it scales with container */
  height: auto;
}

header h1 {
  position: absolute;   /* take it out of normal flow */
  top: 80%;             /* position vertically */
  left: 50%;            /* position horizontally */
  transform: translate(-50%, -50%); /* center it */
  color: #503328;         /* readable over image */
  font-size: 3rem;
  text-align: center;
  background-color: #dcdacd;
  /*
  background: rgba(0,0,0,0.5); /* semi-transparent background */
  padding: 10px 20px;
  border-radius: 20px;
  white-space: nowrap;
}






/* NAVIGERINGS STYLING */ 

nav {
    width: 100%;
    height: 90px;
    background-color: white;
    border-top: 10px solid #878976;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    top: 20;
}



nav a {
    font-size: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3vw;
    text-transform: uppercase;
    text-decoration: none;
    /* color: #503328; */

    color: white;
    background-color: #878976;

 
    padding: 1%;
    border-radius: 20px;
    white-space: nowrap;
}

nav a:hover {
    color: #503328;
    background-color: #dcdacd;
}






/* FOOTER */


footer {
    text-align: center;
    border-top: #878976 solid 2px;
}

footer section {
    margin: 3%;
    display: flex;
    justify-content: space-evenly;
}

footer section span {
    font-weight: bold;
}

footer .copy {
    font-style: italic;
    color: #878976;
    padding-top: 5%;
}
